#choices {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5%;
}

.choice {
    border-style: outset;
    margin: 5px;
    padding: 0;
    transition: all 0.1s;
}

.choice:hover {
    border-style: inset;
    margin: 0;
    padding: 8px;
}

#rock {
    background-color: rgb(255, 0, 0);
    font-family: "montserrat", serif;
    border-radius: 4px;
}

#paper {
    background-color: rgb(0, 253, 76);
    font-family: "montserrat", serif;
    border-radius: 4px;
}

#scissors {
    background-color: #eeff00;
    font-family: "montserrat", serif;
    border-radius: 4px;
}

.center {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "montserrat", serif;
    background-color: #FFCC4A;
}


.window {
    padding: 10px 200px;
    background-color: #775e1e;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}